// --- Colors --------

// --- Fonts ----------


// ---- Normalize.css -------------------
@import url(normalize.css);

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 16px;
  line-height: normal;
}
